/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    font-size: 20px;
}
:root {
    --main-transition: .3s ;
    --main-color:rgb(29, 57, 73);
    --second-color: rgb(29 57 73 / 53%);
    --hover-color:rgb(166, 199, 232);
    --main-weight: 350;
    --company-name-color: rgba(0, 0, 0, 0.759);
    --card-border-color: rgba(0, 0, 0, 0.203);
    --main-border-radius: 8px;
    --second-hover-color: rgba(0, 0, 0, 0.071);
    --main-box-shadow: 0px 1px 6px -2px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header {
  border-bottom: 2px solid var(--second-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-weight: var(--main-weight);
  color: var(--main-color);
  height: 60px;
}
@media (max-width: 767px) {
  .header .container {
  margin: 15px auto;
  padding-left: 16px;
  padding-right: 16px;
  }
}
.container .logo a img{
  max-width: 100px;
  margin-top: 7px;
}
.header .container .nav ul{
  display: flex;
  gap: 100px;
  position: relative;
  margin-top: 10px;
}
@media (max-width:767px) {
  .header .container .nav ul{
     
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
 #menu.show {
  display: block;
}
#navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: none;    
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#navi.active {
  display: flex;
} 
#close-menu {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
}  
}
.header .container .nav ul li {
  position:relative;
}
.header .container .nav ul li a {
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  height: 53px;
}
.header .container .nav ul li a::after {
  content: "";
  border-bottom: 3px solid var(--main-color);
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 10px;
  transition: var(--main-transition);
  transform: scaleX(0);
        
}
.header .container .nav ul li a:hover::after {
  width: 100%;
  transform: scaleX(1);
}
.container .sign-up {
  position: relative;
  transition: var(--main-transition);
}
.container .sign-up button {
  border-radius: 13px;
    font-size: 20px;
    border: none;
    color: var(--main-color);
    background: none;
    font-weight: var(--main-weight);
    cursor: pointer;
    line-height: 46px;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
  .container .sign-up button span {
    font-size: 20px;
    border-radius: 6px;
}
.container .sign-up button {
  font-size: 20px;
  margin-left: 80px;
  background-color:var(--hover-color);
  padding: 0px 3px;
}
.container #bars {
  font-size: 40px;
  margin-right: 15px;
}
}
@media (min-width: 768px) {
  .container #bars  {
  display: none;
}
#close-menu {
  display: none;
}
}
.container .sign-up button:hover {
  background-color:var(--hover-color);
}
.container .sign-up button::before{
  font-family: "Font Awesome 5 Free";
  content: '\f2f6';
  font-weight: 900;
  margin-right: 10px;
}
/* End Header */
/* Start Home */
.home .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home .container .search-container {
  position: relative;
  margin-top: 40px;
  width: 100%;
  max-width: 900px;
}
.home .container .search-bar {
  background-color: #99999933;
  border: none;
  border-radius: 33px;
  font-size: 25px;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-shadow: var(--main-box-shadow);
}
.home .container .search-bar::placeholder {
  transition: var(--main-transition);
}
.home .container .search-bar:focus::placeholder {
  opacity: 0;
}
.home .container .search-bar:focus {
 
 box-shadow: 0 0 9px rgb(86, 152, 217);
 outline: none;
}
.home .container .search-container span:first-of-type {
  position: absolute;
  top: 50%;
  left:30px ;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--main-color);
}
.home .container .search-container span:last-of-type i {
  position: absolute;
  top: 50%;
  right:30px ;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--main-color);
}
.container .job-cards {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .job-cards .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.container .job-cards .cards .card {
  border: .9px solid var(--card-border-color);
  width: 330px;
  position: relative;
  border-radius: 8px;
  padding-bottom: 30px ;
  font-family: system-ui;
  box-shadow: 0px 1px 6px -2px;
}
.container .job-cards .cards a {
  border-radius: var(--main-border-radius);
  text-decoration: none;
  color: var(--company-name-color);
  transition: var(--main-transition);
}
.container .job-cards .cards a:hover {
  background-color: var(--second-hover-color);
}
.container .job-cards .cards .card img {
  margin: 15px 0px 0px 20px;
  max-width: 15%;
  border-radius: 8px;
  box-shadow: var(--main-box-shadow);
}
.container .job-cards .cards .card div:first-of-type {
  display: inline;
  position: absolute;
  margin: 25px 15px;
  color: var(--company-name-color);
  font-size: 15px;
}
.container .job-cards .cards .card div {
  margin-left: 22px;
  padding: 4px 0;
  line-height: 20px;
}
.container .job-cards .cards .card div:nth-child(4) {
  color: var(--company-name-color);
  font-weight: bold;
}
.container .job-cards .cards .card div:nth-child(5) {
  color: var(--company-name-color);
  font-size: 15px;
}
.container .job-cards .cards .card div:nth-child(6) {
  color: var(--company-name-color);
  font-size: 15px;
}
.container .job-cards .cards .card div:last-of-type {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: var(--company-name-color);
}
.container .job-cards .cards .card button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 19px;
  top: 19px;
  font-size: 20px;
  cursor: pointer;
}
.container .job-cards .find-more-btn {
  margin-top: 30px;
  background-color: var(--main-color);
  color: white;
  font-size: 23px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: var(--main-border-radius);
  border: 2px solid var(--hover-color);
  cursor: pointer;
  position: relative;
  box-shadow: 4px 4px 0 0 var(--hover-color);
  transition: var(--main-transition);
}
.container .job-cards .find-more-btn:hover {
  transform: translate(2px,2px);
  box-shadow: 2px 2px 0 0 var(--hover-color);
}
/* End Home */