/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 ::before , ::after {
  box-sizing: border-box;
}
h1,h2,h3 {
  margin: 0;
  line-height: 1.1;
} 
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
}
:root {
    --main-transition: .2s ;
    --main-color:rgb(29, 57, 73);
    --second-color: rgb(29 57 73 / 53%);
    --hover-color:rgb(166, 199, 232);
    --main-weight: 400;
    --company-name-color: rgba(38, 35, 35, 0.759);
    --card-border-color: rgba(0, 0, 0, 0.203);
    --main-border-radius: 8px;
    --second-hover-color: rgba(0, 0, 0, 0.071);
    --main-box-shadow: 0px 1px 6px -2px;
    --rslt-color: #EBEAF0;;
    
  
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    
    
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 767px) {
    .container {
        width: 725px;
    }
}
/* Medium */
@media (min-width: 1000px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1135px;
    }
}
@media (width >= 1200px) {
  .container {
    
  }
}
/* End Global Rules */
/* Start Header */
.header {
  border-bottom: 1px solid var(--second-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-weight: var(--main-weight);
  color: var(--main-color);
  height: 60px;
}
@media (max-width: 767px) {
  .header .container {
  /* margin: 15px auto; */
  padding-left: 16px;
  padding-right: 16px;
  }
}
.container .logo a img{
  max-width: 100px;
  margin-top: 7px;
}
.header .container .nav ul{
  display: flex;
  gap: 100px;
  position: relative;
  margin-top: 10px;
  font-weight: var(--font-weight-semibold);
}
@media (max-width:767px) {
  .header .container .nav ul{
     
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
.header .container .nav ul li {
  padding: 13px;
}
 #menu.show {
  display: block;
  position: absolute;
  top: 150px;
  font-size: 36px;
  padding: 20px;
  border: 1px solid;
  border-radius: 30px;
}
#navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;   
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  transform: translateX(700px);
  transition: var(--main-transition);
  visibility: hidden;
}
#navi.active {
  display: flex;
  visibility: visible;
  transform: translateX(0px);
} 
#close-menu {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
}  
}
.header .container .nav ul li {
  position:relative;
}
.header .container .nav ul li a {
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  height: 53px;
}
.header .container .nav ul li a::after {
  content: "";
  border-bottom: 3px solid var(--main-color);
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 10px;
  transition: var(--main-transition);
  transform: scaleX(0);   
}
.header .container .nav ul li a:hover::after {
  width: 100%;
  transform: scaleX(1);
}
.container .sign-up {
  position: relative;
  transition: var(--main-transition);
}
.container .sign-up a{
  border-radius: 13px;
  font-size: 20px;
  border: none;
  color: var(--main-color);
  background: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  line-height: 52px;
  transition: var(--main-transition);
  padding: 8px 3px;
}
@media (max-width: 767px) {
  .container .sign-up a span {
    font-size: 20px;
    border-radius: 6px;
}
.container .sign-up a {
  background-color:var(--hover-color);
  padding: 8px 3px;
  font-size: 18px;
}
.container #bars {
  font-size: 40px;
  margin-right: 15px;
  position: relative;
}
.container #bars i {
  position: absolute;
  right: 0;
  top: 7px;
}
}
@media (min-width: 768px) {
  .container #bars  {
  display: none;
}
#close-menu {
  display: none;
}
}
.container .sign-up a:hover {
  background-color:var(--hover-color);
}
.container .sign-up a::before{
  font-family: "Font Awesome 5 Free";
  content: '\f2f6';
  font-weight: 900;
  margin-right: 10px;
}
/* End Header */
/* Start Home */
.home .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home .container .search-container {
    position: relative;
    margin-top: 40px;
    max-width: 900px;
    background-color: var(--rslt-color);
    border: none;
    border-radius: 33px;
    padding: 12px 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0;
    box-shadow: 0px 7px 10px -8px;
}
@media (max-width: 767px) {
  .home .container .search-container {
    max-width: 325px;
  }
}
.search-container.active {
 gap: 10px;
}
.home .container .search-bar {
  border: none;
  border-radius: 33px;
  font-size: var(--text-lg);
  padding: 12px 45px;
  text-align: center;
  box-shadow: var(--main-box-shadow);
}
@media (max-width: 767px) {
  .home .container .search-bar {
    max-width: 208px;
  }
}
.search-bar.active {
  max-width: 330px;
}
.home .container .search-bar::placeholder {
  transition: var(--main-transition);
  font-size: var(--text-base);
  font-family: "Roboto", sans-serif;
  font-weight: var(--font-weight-medium);
}
.home .container .search-bar:focus::placeholder {
  opacity: 0;
}
.home .container .search-bar:focus {
 
 box-shadow: 0 0 9px rgb(86, 152, 217);
 outline: none;
}
.home .container .search-container span:first-of-type {
  position: absolute;
  top: 50%;
  left:30px ;
  transform: translateY(-50%);
  font-size: var(--text-lg);
  color: var(--main-color);
}
.home .container .search-container .location-icon {
 position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: var(--text-lg);
    color: var(--main-color);
    padding: 11px;
}
.home .container .search-container .location-icon:hover {
  background-color: rgb(166 199 232 / 25%);
  border-radius: 50%;
}
.home .container .search-container a i {
  color: var(--main-color);
}
.search-container .search-location {
  opacity: 0;
  visibility: hidden;
  border: none;
  border-radius: 33px;
  font-size: var(--text-lg);
  padding: 12px 0px;
  text-align: center;
  width: 0px;
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
}
.home .container .search-location::placeholder {
  font-size: var(--text-base);
  font-family: "Roboto", sans-serif;
  font-weight: var(--font-weight-medium);
}
.home .container .search-location:focus::placeholder {
  opacity: 0;
  transition: .1s;
}
.home .container .search-location:focus {
 box-shadow: 0 0 9px rgb(86, 152, 217);
 outline: none;
 transition: .1s;
}
.search-location.active {
  translate: 12px;
  opacity: 1;
  visibility: visible;
  width: 200px;
  transition: var(--main-transition);
}
.job-srch-rslt {
  display: none;
  position: absolute;
  z-index: 9999;
  background-color: var(--rslt-color);
  height: auto;
  width: 47%;
  left: 11%;
  top: 74px;
  border-radius: 20px;
  transition: var(--main-transition);
  z-index: 99999999;
  padding: 22px 0 0 0;
}
.job-srch-rslt.hidden {
  display: none;
}
.job-srch-rslt.focus {
  display: block;
  transition: var(--main-transition);
}
.location-srch-rslt{
  display: none;
  position: absolute;
  z-index: 9999;
  background-color: var(--rslt-color);
  height: auto;
  width: 202px;
  right: 8%;
  top: 74px;
  border-radius: 20px;
  transition: var(--main-transition);
  z-index: 9999999;
}
.location-srch-rslt.focus {
  display: block;
  transition: var(--main-transition);
}
.srch-result  {
  font-size: var(--text-xl);
  color: var(--main-color);
  padding: 7px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: start;
}
.srch-result:hover {
  background-color: var(--hover-color);
}
.srch-result.highlight {
  background-color: var(--hover-color);
}
.alert {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #df0101;
  font-size: 16px;
  font-weight: 700;
}
.alert span {
  color: black;
  font-size: 22px;
}
@media (min-width: 768px) {
  .search-window {
  display: none;
}
}
@media (max-width: 767px) {
  .search-location.active {
 display: none;
}
  .srch-job , .srch-location {
    position: relative;
  }
  .job-wind-rslt {
  display: none;
  position: absolute;
  z-index: 9999;
  background-color: var(--rslt-color);
  height: auto;
  width: 90%;
  border-radius: 20px;
  transition: var(--main-transition);
  left: 26px;
  top: 125px;
 }
 .job-wind-rslt.focus{
  display: flex;
  flex-direction: column;
 }
 .location-wind-rslt {
  display: none;
  position: absolute;
  z-index: 9999;
  background-color: var(--rslt-color);
  height: auto;
  width: 90%;
  border-radius: 20px;
  transition: var(--main-transition);
  left: 26px;
  top: 53px;
 }
 .location-wind-rslt .srch-result {
  gap: 60px;
 }
 .location-wind-rslt.focus{
  display: flex;
  flex-direction: column;
 }
  .search-window.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0px);
  }
  .search-window {
    transform: translateY(40px);
    visibility: hidden;
    opacity: 0;
    transition: opactity 0.3s ;
    pointer-events: none;
    position: fixed;
    top: 83px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 9999999;
    border-top: 1px solid;
    box-shadow: 0 0px 15px 3px;
    color: black;
    gap: 21px;
    transition: .1s ;
  }
  .search-window .close-window {
    position: absolute;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
  }
  .srch-job-window {
    margin-top: 70px;
    background-color: #99999933;
  border: none;
  border-radius: 33px;
  font-size: var(--text-lg);
  padding: 12px 45px;
  text-align: center;
  box-shadow: var(--main-box-shadow);
  max-width: 255px;
  }
 .srch-location-window {
  background-color: #99999933;
  border: none;
  border-radius: 33px;
  font-size: var(--text-lg);
  padding: 12px 45px;
  text-align: center;
  box-shadow: var(--main-box-shadow);
  max-width: 255px;
}
.srch-job i , .srch-location  i  {
font-size: 24px;
    position: relative;
    left: -15px;
}
.srch-result {
  gap: 10px;
  margin-left: 10px;
}
.srch-location-window:focus::placeholder , .srch-job-window:focus::placeholder{
  opacity: 0;
  transition: .1s;
  font-weight: var(--font-weight-medium);
}
.srch-job-window:focus , .srch-location-window:focus {
 box-shadow: 0 0 9px rgb(86, 152, 217);
 outline: none;
 transition: .1s;
}
}
.container .job-cards {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .job-cards .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.container .job-cards .cards .card {
  width: 330px;
  position: relative;
  border-radius: 8px;
  padding-bottom: 30px ;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
   background-color: var(--rslt-color);
   box-shadow: 0 6px 18px rgba(20,30,40,0.04);
  border: 1px solid rgba(0,0,0,0.04);
  transition: transform .18s ease, box-shadow .18s ease;

}
.container .job-cards .cards .card:hover {
 background-color: rgb(166 199 232 / 25%);
 transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(20,30,40,0.08);
}
.container .job-cards .cards a {
  border-radius: var(--main-border-radius);
  text-decoration: none;
  color: var(--company-name-color);
  transition: var(--main-transition);
}
.container .job-cards .cards .card img {
  margin: 15px 0px 0px 20px;
  max-width: 15%;
  border-radius: 8px;
  box-shadow: var(--main-box-shadow);
  z-index: 999;
}
.container .job-cards .cards .card div:first-of-type {
  display: inline;
  position: absolute;
  margin: 25px 15px;
  color: var(--company-name-color);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
}
.cardClicked {
  transform: translateY(-3px);
  transition: var(--main-transition);
  background-color: var(--second-hover-color);
  box-shadow: 0px 1px 6px -2px;
}
.container .job-cards .cards .card div {
  margin-left: 22px;
  padding: 4px 0;
  line-height: 20px;
}
.container .job-cards .cards .card div:nth-child(4) {
  color: black;
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-xl);
}
.container .job-cards .cards .card div:nth-child(5) {
  color: var(--company-name-color);
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
}
.container .job-cards .cards .card div:nth-child(6) {
  color: var(--company-name-color);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-normal);
}
.container .job-cards .cards .card div:last-of-type {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: var(--company-name-color);
}
.job-cards .cards .card .save-button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 19px;
  top: 19px;
  font-size: var(--text-2xl);
  cursor: pointer;
  z-index: 999999;
}
.save-button.active {
 -webkit-text-stroke: 2px black;
    font-weight: 900;
    color: rgb(5, 98, 191);
}
@media (max-width: 767px) {
  .description-window {
    pointer-events: none;
    position: fixed;
    top: 83px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 9999999;
    border-top: 1px solid;
    box-shadow: 0 0px 15px 3px;
    color: black;
    gap: 21px;
    transition: .1s ;
  }
}
.container .job-cards .find-more-btn {
  margin-top: 30px;
  background-color: var(--main-color);
  color: white;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
  margin-bottom: 30px;
  padding: 10px;
  border-radius: var(--main-border-radius);
  border: 2px solid var(--hover-color);
  cursor: pointer;
  position: relative;
  box-shadow: 4px 4px 0 0 var(--hover-color);
  transition: var(--main-transition);
}
.container .job-cards .find-more-btn:hover {
  transform: translate(2px,2px);
  box-shadow: 2px 2px 0 0 var(--hover-color);
}
/* End Home */
/* Start Footer */
.footer {
  margin: 30px 30px 30px 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--main-color);
}
.footer .container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  @media (width >= 767px) {
    max-width: 700px;
  }
}
.footer .container .logo a img {
    max-width: 100px;
    margin-top: 7px;
    background: papayawhip;
    border-radius: 5px;
}
.footer .container a {
  color: papayawhip;
}
.footer .container .footer-menu ul li {
  padding: 8px;
}
.footer .container .footer-menu ul li a {
  position: relative;
}
.footer .container .footer-menu ul li a::after {
  content: "";
  border-bottom: 3px solid papayawhip;
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: var(--main-transition);
  transform: scaleX(0);   
} 
.footer .container .footer-menu ul li a:hover::after{
  width: 100%;
  transform: scaleX(1);
}
.footer .container .social-links ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer .container .social-links ul li {
  border-radius: var(--main-border-radius);  
}
.footer .container .social-links ul a {
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);  
  color: papayawhip;
}
.footer .container .social-links ul li  {
  padding: 10px 15px;
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
}
.footer .container .social-links ul li i {
  padding: 0px 7px;
  transition: var(--main-transition);
}
.container .social-links ul li:hover i{
  color: white;
}
.container .social-links ul li .fa-linkedin  {
   color: #0A66C2; 
}
.container .social-links ul a:nth-child(3):hover{
  background-color: #0A66C2; 
  color: white;
}
.container .social-links ul li .fa-whatsapp  {
   color: #5FFC7B; 
}  
.container .social-links ul a:nth-child(2):hover{
  background-color: #5FFC7B;
  color: white;
}
.container .social-links ul li .fa-facebook {
    color: #3b5998;
}
.container .social-links ul a:nth-child(1):hover{
  background-color: #3b5998;
  color: white;
}
.container .social-links ul li .fa-x-twitter {
    color: black;
}
.container .social-links ul a:nth-child(4):hover{
  background-color: black;
  color: white;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  letter-spacing: 1px;
  background-color: var(--main-color);
  padding: 20px 0 0;
  color: papayawhip;
  margin-top: 40px;
  border-top: 1px solid #ffefd533;
}
.copyright a {
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  padding: 3px;
  color: #5FFC7B;
}
/* End Footer */