/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    font-size: 20px;
}
:root {
    --main-transition: .3s ;
    --main-color:rgb(29, 57, 73);
    --second-color: rgb(29 57 73 / 53%);
    --hover-color:rgb(166, 199, 232);
    --main-weight: 350;
    --company-name-color: rgba(38, 35, 35, 0.759);
    --card-border-color: rgba(0, 0, 0, 0.203);
    --main-border-radius: 8px;
    --second-hover-color: rgba(0, 0, 0, 0.071);
    --main-box-shadow: 0px 1px 6px -2px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Jobs */

.jobs {
  position: relative;
  margin-top: 100px;
  border-top: 1px solid var(--card-border-color);
}
.btns {
    position: relative;
}
.jobs  .btn1 {
    position: absolute;
    border: 1px solid rgb(198 198 198);
    display: inline-block;
    color: black;
    font-weight: bold;
    padding: 19px 10px;
    right: 50%;
    bottom: 0px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom: 1px solid white;
    box-shadow: -2px -2px 0px 2px var(--hover-color);
    transition: var(--main-transition);
}
.jobs .btn2 {
  position: absolute;
  border: 1px solid rgb(198 198 198);
  display: inline-block;
  color:white;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 19px 10px ;
  left: 55%;
  bottom: 0;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  border-bottom: 1px solid white;
  box-shadow: -3px -3px 0px 3px var(--hover-color);
  transition: var(--main-transition);
}
.btn1unclicked {
    position: absolute;
    box-shadow: -3px -3px 0px 3px var(--hover-color);
    display: inline-block;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    padding: 19px 10px;
    right: 50%;
    bottom: 0;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom: 1px solid white;
    transition: var(--main-transition);
}
.btn2clicked {
  position: absolute;
 border: 1px solid rgb(198 198 198);
  display: inline-block;
  color:black;
  font-weight: bold;
  background-color: white;
  padding: 19px 10px ;
  left: 55%;
  bottom: 0;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  border-bottom: 1px solid white;
  box-shadow: -2px -2px 0px 2px var(--hover-color);
  transition: var(--main-transition);
} 
.jobs .container {
  display: flex;
}
.container .job-cards {
    margin-top: 0;
}
.container .job-cards .cards {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 25px;
    margin-top: 25px;
}
.container .job-cards .cards .card {
    border: .9px solid var(--card-border-color);
    width: 360px;
    position: relative;
    border-radius: 8px;
    padding-bottom: 10px;
    font-family: system-ui;
    box-shadow: 0px 1px 6px -2px;
    padding: 0 20px 7px 0px;
}
.cardClicked {
  transform: translateY(-1px) translateX(-1px);
  transition: .2s;
  background-color: rgb(166 199 232 / 25%);
  box-shadow: 0px 1px 6px -2px;
 
}
.jobs .container .job-description {
    border: 1px solid var(--card-border-color);
    border-radius: var(--main-border-radius);
    margin-top: 25px;
    position: sticky;
    top: 0;
    height: 100vh;
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.container  .job-description .card {
    border-bottom: .9px solid 
    var(--card-border-color);
    position: relative;
    padding-bottom: 10px;
    font-family: system-ui;
    padding: 0 20px 7px 0px;
}
.container .job-description .card img {
    margin: 15px 0px 0px 20px;
    max-width: 100%;
    width: 60px;
    border-radius: 8px;
    box-shadow: var(--main-box-shadow);
    z-index: 999;
}
.container .job-description .card div {
  margin-left: 22px;
  padding: 4px 0;
  line-height: 20px;
}
.container .job-description .card div:first-of-type {
  display: inline;
  position: absolute;
  margin: 25px 15px;
  color: var(--company-name-color);
  font-size: 25px;
}
.container .job-description .card div:nth-child(4) {
  color: black;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.container .job-description .card div:nth-child(5) {
  color: var(--company-name-color);
  font-size: 20px;
  margin-bottom: 10px;
}
.container .job-description .card button {
    border: none;
    background-color: rgb(166 199 232 / 51%);
    position: absolute;
    right: 19px;
    top: 19px;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: var(--main-border-radius);
}
.container .job-description .job-info .info {
margin-left: 22px;
  padding: 4px 0;
  line-height: 20px;
}
.container .job-description .job-info .about-role {
 margin-bottom: 25px;
 margin-top: 25px;
}
.about-role div {
  font-weight: 600; 
  margin-bottom: 25px;
}
.container .job-description .job-info .qualifications {
  margin-bottom: 25px;
}
.qualifications div {
  font-weight: 600;
  margin-bottom: 25px;
}
.container .job-description .job-info .job-time {
  margin-bottom: 25px;
}
.job-time div {
  font-weight: 600;
}
.job-time i {
  margin-bottom: 25px;
}
.job-description .job-info  {
  font-size: 17px;
}
.job-description .job-info .fa-circle-dot  {
  font-size: 18px;
}
.company-info div:first-child {
  font-weight: 600;
  margin-bottom: 25px;
}
.company-info .phone span{
 font-weight: 600;
}
.company-info .phone i {
  margin-bottom: 20px;
}
.company-info .phone , .phone-number {
  display: inline;
  margin-bottom: 10px;
}
.company-info .email span {
  font-weight: 600;
}
.company-info .email , .email-address {
  display: inline;
}
.company-info .email i {
  margin-bottom: 20px;
}
/* End Jobs */